/* 
	HTML implementation of a Hip Chat redesign based on Jan Dvořák Dribbble shot.
	https://dribbble.com/shots/1529065-HipChat-Redesign
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #a9b89e;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	color: #333f4d;
}
b{
	font-weight: bold;
}
.window-wrapper{
	background: #fff;
	width: 780px;
	margin: calc(530px/6) auto;
	border-radius: 6px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	/*overflow: hidden;*/
	min-height: 530px;
	position: relative;
}
body.full-screen .window-wrapper{
	width: 100%;
	margin: 0;
	border-radius: 0;
	min-height: 100vh;
}
.window-wrapper.auth{
	width: 400px;
}
.window-title{
	padding: 14px;
	position: relative;
}
.dots{
	float: left;
	width: 50px;
}
.window-title > .title{
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}
.window-title > .expand{
	position: absolute;
	right: 14px;
	top: 12px;
}
.dots > i{
	margin-right: 2px;
}
.dots > i:nth-child(1){
	color: #f57e7d;
}
.dots > i:nth-child(2){
	color: #ffc881;
}
.dots > i:nth-child(3){
	color: #82cf85;
}
.expand > i{
	color: #cfd6e0;
	font-size: 18px;
	cursor: pointer;
}
.window-area{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 176px;
}
.auth .window-area{
	padding-left: 0;
}
.conversation-list{
	width: 176px;
	background: #505d71;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.conversation-list > ul{
	height: 91%;
	overflow: auto;
}
.conversation-list ul li a{
	padding: 15px;
	color: #bcc3d0;
	text-decoration: none;
	display: block;
	position: relative;
	border-bottom: 2px solid #586476;
}
.conversation-list ul li a:hover,
.conversation-list ul li.active a{
	background: #445166;
	color: #fff;
}
.conversation-list ul li a i{
	color: #79889d;
	font-size: 1.2em;
}
.conversation-list ul li a span{
	display: inline-block;
	margin-left: 14px;
}
.conversation-list ul li a span.new-mess{
	color: #FFF;
	font-size: 14px;
}
.conversation-list ul li a i.fa-times{
	position: absolute;
	top: 4px;
	right: 7px;
	font-size: 10px;
}
.conversation-list .online{
	color: #82cf85;
}
.conversation-list .idle{
	color: #ffac69;
}
.conversation-list .offline{
	color: #f57e7d;
}
.chat-area{
	border-top: 1px solid #cfdae1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 176px;
	right:175px;
	box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42)
}
.auth .chat-area{
	left: 0;
	right: 0;
}
.chat-area .title{
	padding: 10px;
	overflow: hidden;
	line-height:15px;
}
.chat-area .title .fa-search{
	font-size: 14px;
	float: right;
	color: #a8bbc6;
	cursor: pointer;
}
.chat-area .chat-list{
	border-top: 1px solid #cfdae1;
	border-bottom: 1px solid #cfdae1;
	position: absolute;
	left: 0;
	top: 35px;
	right: 0;
	bottom: 44px;
	overflow-y: auto;
	outline: none;
}
.chat-area ul{
	margin-right: -4px;
}
.chat-area ul > li{
	border-top: 1px solid #cfdae1;
	overflow: hidden;
	position: relative;
}
.chat-area ul > li.new{
	background: #e1ffe8;
}
.chat-area ul > li.me{
	background: #e4eaee;
}
.chat-area ul > li:first-child{
	border-top: none;
}
.chat-area ul .name{
	padding: 14px;
	text-align: right;
	width: 50px;
	float: left;
	color: #5d7185;
	font-weight: bold;
	line-height: 20px;
	border-right: 1px solid #cfdae1;
}
.chat-area ul .message{
	padding: 14px;
	float: left;
	color: #333f4d;
	width: 214px;
}
.chat-area ul .message > p{
	line-height: 20px;
}
.chat-area ul .message > p > .blue-label{
	background: #6ea0ff;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
}
.chat-area ul .message .msg-time{
	position: absolute;
	top:16px;
	right: 15px;
	color: #738ba3;
	font-size: 9px;
}
.input-area{
	background: #e4eaee;
	padding: 6px;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #cfdae1;
}
.input-area .input-wrapper{
	background: #fff;
	border: 1px solid #cfdae1;
	border-radius: 5px;
	overflow: hidden;
	float: left;
}
body.full-screen .input-area .input-wrapper{
	min-width: 90%;
	position: relative;
}
.input-area .input-wrapper input{
	height: 30px;
	line-height: 30px;
	border: 0;
	margin: 0;
	padding: 0 10px;
	outline: none;
	color: #5D7185;
	min-width: 341px;
}
body.full-screen .input-area .input-wrapper input{
	min-width: 100%;
	/*min-width: 86%;*/
}
.input-area .input-wrapper i{
	font-size: 18px;
	color: #a0b4c0;
	margin-right: 10px;
	cursor: pointer;
}
body.full-screen .input-area .input-wrapper i{
	position: absolute;
	right: 0;
	top: 6px;
}
body.full-screen .input-area .input-wrapper i.first{
	right: 27px;
}
.btn{
	padding: 0 6px 3px;
	background: #a0b4c0;
	border: none;
	letter-spacing:1px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	float:right;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	font-family: 'Open Sans', Arial, sans-serif;
	 outline: none;
}
.right-tabs{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	border-left: 1px solid #cfdae1;
	border-top: 1px solid #cfdae1;
	width: 175px;
}
.right-tabs > ul.tabs{
	overflow: hidden;
}
.right-tabs > ul.tabs > li{
	/*float: left;*/
	/*width: 33.3%;*/
	text-align: center;
	border-bottom: 1px solid #cfdae1;
}
.right-tabs > ul.tabs > li > a{
	border-left: 1px solid #cfdae1;
	color: #72a3ff;
	display: block;
	background: #eef2f8;
	padding: 8px 0;
}
.right-tabs > ul.tabs > li.active{
	border-bottom: none;
}
.right-tabs > ul.tabs > li.active > a{
	background: #fff;
	color: #c3ccd3;
}
.right-tabs > ul.tabs > li:first-child > a{
	border-left: none;
}
.right-tabs > ul.tabs > li > a >i{
	font-size: 18px
}
ul.tabs-container{
	height: 82%;
	overflow: auto;
	padding: 10px;
	color: #6e7f91;
}
.right-tabs > .fa{
	position: absolute;
	bottom: 14px;
	right: 14px;
	color: #a0b4c0;
	font-size: 18px;
	cursor: pointer;
}
.member-list > li{
	padding: 5px 0;
}
.member-list > li .status{
	margin: 0 10px 0 0;
	font-size: 14px;
}
.member-list > li .status.online{
	color: #82cf85;
}
.member-list > li .status.idle{
	color: #ffac69;
}
.member-list > li .status.offline{
	color: #f57e7d;
}
.member-list > li .time{
	float: right;
	font-size: 9px;
	margin-top: 4px;
}
.my-account{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 29px;
	padding: 8px;
	background: #445166;
}
.my-account > .image{
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
}
.my-account > .image > i{
	position: absolute;
	top: -2px;
	right: -2px;
}
.my-account > .image > img{
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
.my-account > .name{
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
	float: left;
	cursor: pointer;
}
.my-account > .name .availability{
	display: block;
	font-weight: normal;
	color: #8391a1;
	margin-top: 5px;
}
.jspDrag{
	background: #A1AFC4;
	border-radius: 10px;
}
.jspVerticalBar{
	width: 7px;
}

.auth-input-wrap{
	background: #e4eaee;
	height: 100%;
	padding: 6px;
	overflow: hidden;
	position: relative;
	border-top: 1px solid #cfdae1;
	text-align: center;
}

.auth-input-wrap > div{
	position: relative;
	top: -2em;
}

.auth-input-wrap .input-wrapper{
	float: none;
}

.auth-input-wrap .btn{
	float: none;
}

 a.btn{
	padding: 6px 6px 6.5px;
	text-decoration: none;
}

.auth-input-wrap label{
	top: -0.5em;
	position: relative;
}

.auth-input-wrap .gropup{
	margin: 1.5em 0;
}

.my-account .drop-down-menu{
	position: relative;
	position: absolute;
	visibility: hidden;
	width: 160px;
	top: 58px;
	right: 9px;
	background: #fff;
	z-index: 800;
	border: 1px solid #c5d0db;
	padding: 4px 0;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
	transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
	pointer-events: none;
}

.my-account .drop-down-menu:before {
	border-width: 6px;
	margin: 0 -6px;
	border-bottom-color: #c5d0db;
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	bottom: 100%;
	right: 42px;
}

.my-account .drop-down-menu a{
	display: block;
	white-space: nowrap;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	color: #2a5885;
	text-decoration: none;
	cursor: pointer;
}

.my-account .drop-down-menu.active{
	visibility: visible;
	opacity: 1;
	-webkit-filter: none;
	filter: none;
	top: 48px;
	pointer-events: auto;
}

.member-list a{
	color: unset;
	text-decoration: none;
}

.member-list a:hover{
	text-decoration: underline;
}

.chat-list ul li a {
	color: blue;
	text-decoration: none;
}
[show-sm] {display: none; visibility: hidden;}

@media only screen and (max-width: 768px){
	[show-sm] {display: block; visibility: visible;}
	[hide-sm] {display: none; visibility: hidden;}
	body{
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
	}
	.window-wrapper{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		border-radius: 0;
	}
	.window-title .expand{display: none;}

	.conversation-list,.right-tabs{
		visibility: hidden;
		opacity: 0;
		filter: alpha(opacity=0);
		-o-transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
		transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
		pointer-events: none;
		z-index: 11;
	}
	.conversation-list{
		left: -176px;
	}
	.right-tabs{
		right: -177px;
		background: white;
	}
	.conversation-list.active, .right-tabs.active{
		visibility: visible;
		opacity: 1;
		-webkit-filter: none;
		filter: none;
		pointer-events: auto;
	}
	.conversation-list.active{
		left: 0;
	}
	.right-tabs.active{
		right: 0;
	}
	.chat-area{
		left: 0;
		right: 0;
	}
	a.btn.show-dialogs{
		float: none;
		margin: 0;
		position: relative;
		top: -7px;
	}
	a.btn.show-right-tabs{
		float: right;
		margin: 0;
		position: relative;
		top: -7px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.my-account .drop-down-menu.active{
		top: -42px;
	}
	.input-area .input-wrapper{
		width: 85%;
	}
	.input-area .input-wrapper input{
		min-width: 100%;
	}
}