{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}


{% block content %}
{{ parent() }}
<div class="window-wrapper auth">
	<div class="window-title">
		<div class="dots" d:n>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
			<i class="fa fa-circle"></i>
		</div>
		<div class="title">
			<span>{{title}}</span>
		</div>
	</div>
	<div class="window-area">

		<!-- chat-area -->
		
		<div class="chat-area">
			<div class="input-area auth-input-wrap" row:v:c>
				<div>
					<form action="signin" method="post">
						<div class="gropup">
							<label>Логин:</label>
							<div class="input-wrapper">
								<input type="text" value="" name="username" autocomplete="off" required="">
							</div>
						</div>
						<div class="gropup">
							<label>Пароль:</label>
							<div class="input-wrapper">
								<input type="password" value="" name="password" autocomplete="off" required="">
							</div>
						</div>
						<div class="gropup">
							<input type="submit" value="Войти" class="send-btn btn">
						</div>
						<div class="gropup">
							<p>Впервые здесь? <a href="/signup" class="btn">Регистрация</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- / chat-area -->

	</div>
</div>
{% endblock %}
