<div class="conversation-list">
	<ul class="">
		<li class="item">
			<div hide-sm>
				<a href="#" no-click-js><i class="fa fa-list-alt"></i><span>Диалоги</span></a>
			</div>
			<div show-sm>
				<a href="#" toggle-class-to='.conversation-list' toggle-class-name='active'><i class="fa fa-list-alt"></i><span>Диалоги</span></a>
			</div>
		</li>
		{% for item in conversations %}
			<li class="item {{ item.id == cur_conv ? 'active' : '' }}" {{ ( item.type == 1 ) ? ('conv-user-id=' ~ item.user_id) : '' }} conv-id={{item.id}} last-mess-id={{item.last_mess}} truncate>
				<a href="/chat/{{item.id}}" {{ item.id == cur_conv ? 'no-click-js' : '' }}>
					<i class="fa {{ (item.type == 1) ? 'fa-circle-o' : 'fa-user' }} status {{ item.type == 1 ? ((item.user_id in users_online|keys) ? users_online[item.user_id]['status'] : 'offline') : '' }}"></i>
					<span class="conv-wrap">
						<span class="conv-name">{{item.name}}</span>
						<span class="new-mess"></span>
					</span>
					<!-- <i class="fa fa-times"></i> -->
				</a>
			</li>
		{% endfor %}
	</ul>
	<div class="my-account">
		<div class="image">
			<img src="{{ curr_user.picture }}">
			<i class="fa fa-circle online"></i>
		</div>
		<div class="name">
			<span toggle-class-to='.drop-down-menu.name' toggle-class-name='active'>
				<span>{{ curr_user.fullname }}</span><i class="fa fa-angle-down"></i>
			</span>
			<span class="availability">В сети</span>
		</div>
		<div class="drop-down-menu name">
			<a href="/logout">Выход</a>
		</div>
	</div>
</div>