<div class="right-tabs" ea-tabs=right-tabs>
	<ul class="tabs" row p=0 >
		<li col class="active wrap-tab-link"><a href="#" tab-name=right-tabs tab-to='.tabs-container li.first' ><i class="fa fa-users"></i></a></li>
		<li col class="wrap-tab-link"><a href="#" tab-name=right-tabs tab-to='.tabs-container li.second' ><i class="fa fa-link"></i></a></li>
	</ul>
	<ul class="tabs-container">
		<li class="active first">
			<ul class="member-list">
				{% for user in users %}
					{% if curr_user.id != user.id %}
						<li member-user-id={{user.id}}>
							<span class="status {{ (user.id in users_online|keys) ? users_online[user.id]['status'] : 'offline' }} ">
								<i class="fa fa-circle-o"></i>
							</span>
							<a href="/create/{{user.id}}" {{ curr_user.id == user.id ? 'no-click' : '' }}>
								<span>{{ user.fullname }}</span>
							</a>
							<span class="time">{{users_online[user.id]['time']}}</span>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</li>
		<li class="second">
			<ul class="member-list">
				{% for item in links %}
					{% for link in item %}
					<li title="{{link}}" truncate><span><i class="fa fa-link"></i></span>&nbsp;&nbsp;<a href="{{link}}" target=_blank>{{link}}</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</li>
	</ul>
	<i v:h class="fa fa-cog"></i>
	<i show-sm class="fa fa-arrow-right" toggle-class-to='.right-tabs' toggle-class-name='active'></i>
</div>