{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
		{{ parent() }}
{% endblock %}


{% block content %}
		{{ parent() }}
	<div class="window-wrapper">
		<div class="window-title">
			<div class="dots">
				<i class="fa fa-circle"></i>
				<i class="fa fa-circle"></i>
				<i class="fa fa-circle"></i>
			</div>
			<div class="title">
				<span>Чат</span>
			</div>
			<div class="expand" toggle-class-to=body toggle-class-name=full-screen>
				<i class="fa fa-expand"></i>
			</div>
		</div>
		<div class="window-area">
			<!-- conversation-list -->
			{% block conversation_list %}
				{% include 'widgets/conversation-list.html' %}
			{% endblock %}
			<!-- / conversation-list -->

			<!-- chat-area -->
			<div class="chat-area" current-user={{curr_user.id}}>
				<div class="title">
					<div hide-sm>
						<b>Переписка</b><i v:h class="fa fa-search"></i>
					</div>
					<div show-sm>
						<a href="#" class="btn show-dialogs" toggle-class-to='.conversation-list' toggle-class-name='active'>Диалоги</a>
						<a href="#" class="btn show-right-tabs" toggle-class-to='.right-tabs' toggle-class-name='active'>Правые вкладки</a>
					</div>
				</div>
				<div class="chat-list">
					<ul>
						{% for mess in messages %}
							<li class="{{ users[mess.user_id].id == curr_user.id ? 'me' : mess.seen == 0 ? 'new' : '' }}" mess-id={{mess.id}}>
								<div class="name">
									<span class="">{{ users[mess.user_id].fullname }}</span>
								</div>
								<div class="message">
									<p>{{ mess.message|raw }}</p>
									<span class="msg-time">{{ mess.time }}</span>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<form class="input-area add-message" autocomplete="off">
					<div class="input-wrapper">
						<input type="text" value="" input-message>
						<!-- <i class="fa fa-smile-o first"></i> -->
						<!-- <i class="fa fa-paperclip"></i> -->
					</div>
					<input type="button" value="Ввод" class="send-btn btn">
				</form>
			</div>
			<!-- / chat-area -->

			<!-- right-tabs -->
			{% block right_tabs %}
				{% include 'widgets/right-tabs.html' %}
			{% endblock %}
			<!-- / right-tabs -->
		</div>
	</div>
{% endblock %}
