{% spaceless %}
<!DOCTYPE html>
<html ea>
<head>
	{% block head %}

		<meta charset="utf-8" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

		<title>{% block title %}{% endblock %} - {{app.settings.project}}</title>

		<meta name="description" content="{% block meta_description %}{% endblock %}">
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

		<!-- styles CSS -->

	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
	<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="http://cdn.uwebu.ru/u-emmet-attr/src/ea.css">
	<link rel='stylesheet prefetch' href='{{app.host}}/media/css/jquery.jscrollpane.css'>
	<link rel="stylesheet" href="{{app.host}}/media/css/style.css" media="screen" type="text/css" >

	{% endblock %}
</head>
<body ov:h id=body {{ (app.controller != 'Auth' and false ) ? 'class=full-screen' : '' }}>
	<!-- content -->
	{% block content %}
	{% endblock %}
	<!-- / content -->

	<script src="http://cdn.uwebu.ru/u-emmet-attr/src/ea.js"></script>
	<script src='{{app.host}}/media/js/jquery.min.js'></script>
	<script src='{{app.host}}/media/js/jquery.mousewheel.min.js'></script>
	<script src='{{app.host}}/media/js/jquery.jscrollpane.min.js'></script>

	<script src="{{app.host}}/media/js/index.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->

</body>
</html>
{% endspaceless %}